html,
body {
  height: 100%;
  margin: 0;
}



.conteiner {
  height: 135%;
  background-image: url("https://previews.123rf.com/images/tartila/tartila1805/tartila180500043/100875576-cartoon-soffice-nuvola-a-skyscape-azzurro-nuvole-celesti-su-cielo-blu-illustrazione-vettoriale-di.jpg");

  /* background alternativo

  background-image: url("https://thumbs.dreamstime.com/b/sfondi-celesti-e-nuvole-sognanti-di-cielo-sul-regno-unito-167629373.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

.custom-font {
  font-family: 'Noto Sans', sans-serif;
}

.card-ricerca {
  background: rgb(34,34,34);
  background: linear-gradient(214deg, rgba(34,34,34,0.8128501400560224) 0%, rgba(0,92,170,0.726015406162465) 83%);
  border-top: 1px solid #fc820060; 
  border-left: 1px solid #fc820060; 
  padding: 10px; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}



footer {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: 5%;
}

footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 10px; 
  font-size: 14px;
}

.scaling {
  transform-origin: center; 
  transition: transform 1.2s ease-in-out; 
}

.scaling:hover {
  transform: scale(1.1); 
}

.spinta{
  background-color:  #55948c;
  margin: 0;
  padding: 0;
}

.torna-home a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.3em;
  width: 15%;
  background: rgb(34,34,34);
  background: linear-gradient(214deg, rgba(34,34,34,0.8128501400560224) 0%, rgba(0,92,170,0.726015406162465) 83%);
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  border-top: 1px solid #fc820060; 
  border-left: 1px solid #fc820060;
  text-align: center;
  margin: 3% 0;
}

.torna-home{
  display: flex;
  justify-content: center;
}

.torna-home a{
  transform-origin: center; 
  transition: transform 1s ease-in-out; 
}

.torna-home a:hover {
  transform: scale(1.3); 
}

#root > div > header > nav > div > div:nth-child(3){
  position: absolute;
  right: 10%;
  top: 70%;
}

.icone{
  font-size: 2em;
}

.icone-pro{
  font-size: 2em;
}

#root > div > header > nav > div > div > div > div > input{
  background-color:   rgba(97, 166, 227, 0.726);
}